.auth/
node_modules/
config/credentials.json
.env
*.png
*.log
data/
scratch/
downloads_anexos/
projetos_organizados_anapolis/
projetos_organizados_goiania/
data_processos_*/
scratch_*
grafico_*.html
omniclaude_run.log
agy_run.log
